@model GoodRoadProj.Models.Mark

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Mark</legend>

        @Html.HiddenFor(model => model.markID)

        <div class="editor-label">
            @Html.LabelFor(model => model.routeID, "Route")
        </div>
        <div class="editor-field">
            @Html.DropDownList("routeID", String.Empty)
            @Html.ValidationMessageFor(model => model.routeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mX)
            @Html.ValidationMessageFor(model => model.mX)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mY)
            @Html.ValidationMessageFor(model => model.mY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mName)
            @Html.ValidationMessageFor(model => model.mName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mDescription)
            @Html.ValidationMessageFor(model => model.mDescription)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
