@model IEnumerable<GoodRoadProj.Models.Route>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserData.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.routeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserData.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.routeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.routeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.routeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.routeID })
        </td>
    </tr>
}

</table>
