<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - GoodRoad</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Six+Caps:400' rel='stylesheet' type='text/css'>
    <script src="https://api-maps.yandex.ru/2.1.40/?lang=ru_RU" type="text/javascript"></script>
    <script src="~/Scripts/MenuScript.js" type="text/javascript"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1 class="logo" onclick="location.href = '/Home/Index';">Good Road</h1>
        <h2 class="subLogo">cервис для активных людей</h2>
        
        <div class="content-wrapper">
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
        @if (ViewBag.IsReg == null)
        {
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                @Html.ActionLink("Главная", "Index", "Home");
                @Html.ActionLink("Конструктор", "Constructor", "Home");
            </div>
            <span style="font-size: 30px; cursor: pointer; position: absolute; left: 10px; font-family: 'Sitka Subheading'" onclick="openNav()">&#9776; Меню</span> 
        }

       
    </header>
    <div id="body">     

          
        <section class="content-wrapper main-content clear-fix">
            @RenderSection("featured", required: false)
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Good Road</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
